
<!-- <!-- 
<h1 >Dashboard</h1>
<p> Welcome <%= user.name %></p>
<a href="/users/logout">Logout</a> -->


    <link rel="shortcut icon" type="image/png" href="logo.png">
    <title>Document</title>
</head>
<body>
    <h1 >Dashboard</h1>
<p> Welcome <%= user.firstName +' '+ user.name %></p>
<a href="/">Logout</a>
<a href="/show">My profile</a>
</body>
</html>
